@media (max-width:1200px) {
    #checkoutMainPageContainer h1{
        font-size: 2.5rem;
    }
    #checkoutMainPageContainer{
        padding: 0 2%;
        border-top: 1px solid #eee;
    }
    #checkoutMainPageContainer > div{
        margin-top: 0;
    }
    #cheackoutContainer{
        flex-direction: column-reverse;
    }
    #checkoutForm{
        width: 100%;
    }
    #yourOrderSammary{
        display: flex;
    }
    #yourOrder{
        width: 100%;
    }
    #yourOrder #yourOrderDiv{
        background-color: #f1f1f1;
    }
    #yourOrderTitle{
        display: none;
    }
    .yourOrderValue{
        text-align: end;
        padding-right: 4%;
    }
    #yourOrderSammary div , #yourOrder h6{
        font-size: 0.9rem;
    }
    #yourOrder p{
        font-size: 0.9rem;
    }
}