.headerLinks{
    margin-left: 4%;
}
.headerLinks .ourStory{
    position: absolute;
    margin-left: 75%;
}

@media (max-width: 1450px) {
    .headerLinks .ourStory{
        margin-left: 65%;
    }
}
@media (max-width: 1100px) {
    .headerLinks li:not(.icons),.shipping{
        display: none;
    }

    .headerLinks .cart{
        margin-left: 280%;
    }
    .header{
        display: flex;
        justify-content: center;
    }
    .header button{
        position: absolute;
    }
}
@media (max-width: 1000px) {
        .headerLinks .cart{
        margin-left: 220%;
        font-size: 22px;
    }
    .headerLinks .icons{
        font-size: 25px;
    }
}
@media (max-width: 830px) {
        .headerLinks .cart{
        margin-left: 180%;
    }
}
@media (max-width: 720px) {
        .headerLinks .cart{
        margin-left: 140%;
    }
}
@media (max-width: 620px) {
        .headerLinks .cart{
        margin-left: 100%;
    }
}
@media (max-width: 500px) {
        .headerLinks .cart{
        margin-left: 60%;
        margin-right: -20%;
    }
    .headerLinks .icons{
        font-size: 18px;
    }
    .header button{
        margin-left: -10%;
        width: 120px;
    }
}