* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f1f1ef;
}

#priceRangeSlider {
    height: 20px;
    margin: 20px;
  }

  #priceRangeSlider {
    background-color: red;
  }
  .mainGrid .sale{
    position: absolute;
    top: -10px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    left: 90.8%;
    color: white;
    padding-top: 10px;
    padding-left: 1px;
    font-weight: 500;
    /* z-index: 50; */
}

  @media (max-width:1200px){
    .ourBestSeller .mainGrid{
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    } 
    @media (max-width: 800px){
    .ourBestSeller .mainGrid div h5{
            font-size: 1rem;
            font-weight: 600;
        }
        .ourBestSeller .mainGrid div p{
            font-size: 1rem;
            font-weight: 600;
        }
        .mainGrid .sale{
            width: 40px;
            height: 40px;
            padding-top: 8px;
            font-weight: 400;
        }
    }
    @media (max-width:600px){ 
        .ourBestSeller .mainGrid{
            grid-template-columns: minmax(0, 1fr);
        }
        .ourBestSeller .headerDiv{
            display: block;
            text-align: center;
        }
        .ourBestSeller .headerDiv h4{
            padding-bottom: 10px;
            font-size: 1.4rem;
        }
        .mainGrid .sale{
            left: 92%;
        }
    
    }
    @media (max-width:400px){
        .mainGrid .sale{
            left: 89%;
        }
    
    }